<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet'  href='https://fonts.googleapis.com/css?family=Raleway%3A300%2C400%2C500%2C600%7CMerriweather&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{base_url~'/assets/highlight/styles/ocean.css'}}" type="text/css"/>

    <link rel="icon" href="{{theme_url}}/logo.png" sizes="32x32" />
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75773471-2', 'auto');
  ga('send', 'pageview');

</script>

    <header>
        <nav>
            <ul>
                <li{% if is_front_page %} class="active"{% endif %}>
                    <a href="{{ base_url }}">
                        Home
                    </a>
                </li>
                
                {% for page in categories[1].pages %}
                <li {% if page.id == current_page.id %} class="active"{% endif %}>
                    <a href="{{ page.url }}">
                        {{ page.title }}
                    </a>
                </li>
                {% endfor %}

                <li></li>
                <div class="clear"></div>
            </ul>
        </nav>

        <div class="logo-wrapper">
            <a href="{{ base_url }}">
                <img src="{{base_url~'/assets/logo.png'}}" alt="Binar Forge - passionate about software development" />
            </a>

            <p class="motto">Impact the world with software</p>
        </div>
    </header>

<div class="content">

    {% if is_front_page %}
        <section class="list">
            {% for page in categories[2].pages %}
                    <article>
                        <a href="{{ page.url }}">
                            <div class="thumbnail-photo image-placeholder" data-src="{{base_url~page.img}}" style="background-image: url({{ base_url~page.thumb }})"></div>
                        </a>
                        <div class="excerpt">
                            <a href="{{ page.url }}">
                                <h2>{{ page.title }} </h2>
                                <small class="author">{{page.author}}</small>
                                <time class="date">{{page.date}}</time>
                            <p>{{page.description}}</p>
                            </a>
                        </div>
                    </article>
                {% endfor %}
        </section>
        <aside>

            <div class="image-placeholder avatar" data-src="{{base_url~'/assets/photo.jpg'}}">
                <img src="{{base_url~'/assets/_photo.jpg'}}" class="mini" />
                <strong>Bartlomiej Karalus</strong>
                <em>Developer during the day, programmer in the night.</em>
            </div>

            <!--<form method="GET" class="search">
                <input name="s" placeholder="Search" />
                <button>Search</button>
            </form>-->

            <h4>Archives</h4>
            <div class="archive">
                <p>Nov 2017</p>
                <a href="{{base_url}}/blog/invisible-changes-for-the-better">Invisible changes for the better</a>
                <p>Jul 2017</p>
                <a href="{{base_url}}/blog/seven-useful-programming-habits">Seven useful programming habits</a>
                <p>Jun 2017</p>
                <a href="{{base_url}}/blog/the-curse-of-over-engineering">The curse of over engineering</a>
                <p>Mar 2017</p>
                <a href="{{base_url}}/blog/we-went-to-nordevcon-2017">We went to NorDevCon...</a>
                <p>Feb 2017</p>
                <a href="{{base_url}}/blog/100-percent-test-coverage-is-not-enough">Never enough of testing</a>
                <p>May 2016</p>
                <a href="{{base_url}}/blog/every-game-starts-with-console">Every game starts with... command console?</a>
                <p>Mar 2016</p>
                <a href="{{base_url}}/blog/unity-shaders-do-not-seem-to-be-working-after-exporting-to-webgl">Unity Engine Shaders do not seem to be working after exporting to WebGL</a>
                <a href="{{base_url}}/blog/is-being-a-game-programmer-a-dream-job">Is being a game programmer undeniably perfect, dream job?</a>
                <p>Oct 2015</p>
                <a href="{{base_url}}/blog/always-do-your-research-first-casestudy">Always do your research!</a>
            </div>

            <h4>Links</h4>
            <div class="social">
                <a href="https://twitter.com/binarforge"><img src="{{base_url}}/assets/tw.png"> </a>
                <a href="https://www.linkedin.com/in/bart-karalus" target="_blank"><img src="{{base_url}}/assets/li.png"> </a>
                <a href="https://www.quora.com/profile/Bart%C5%82omiej-Karalus" target="_blank"><img src="{{base_url}}/assets/quora.png"> </a>
                <a href="skype:bulbulator91"><img src="{{base_url}}/assets/skype.png"> </a>
                <a href="mailto:bartlomiej.karalus@gmail.com"><img src="{{base_url}}/assets/mail.png"> </a>
                <a href="https://www.codingame.com/profile/114d8ceedf597789579190acd2e4fa95369869" target="_blank"><img src="https://files.codingame.com/codingame/Codingame_Blob_500_500.png"> </a></div>
        </aside>
    

            <div class="clear"></div>
    {% else %}
        <article class="single">
            <h1>{{current_page.title}}</h1>
            <small class="author"> {{current_page.author}}</small>
            <time class="date">{{current_page.date}}</time>
            <div class="entry-content">
                {{ content }}
            </div>
        </article>


        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
            this.page.url = 'http://binarforge.com/{{current_page.id}}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{current_page.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://binarforge.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
    {% endif %}
</div>

<footer>
    @2017 | binarforge.com | All rights reserverd. Seriously.
</footer>

<script type="text/javascript" src="{{ theme_url }}/image-holder.0.1.js"></script>
<script type="text/javascript" src="{{base_url~'/assets/highlight/highlight.pack.js'}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script id="dsq-count-scr" src="//binarforge.disqus.com/count.js" async></script>

</body>
</html>
