html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 600;   
    background-color: #f4f4f4;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}

.logo-wrapper{
    text-align: center;
    padding-top: 20px;
}
.content a{
    color: inherit;
    text-decoration: underline;
}

nav{
    background: #222;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 50;
    position: relative;        
    line-height: 44px;
}

nav ul{
    margin: 0 auto; 
    max-width: 1080px;
    padding: 0;
}
nav ul li{
    float: left;
    list-style-type: none;
    cursor: pointer;
    height: 45px;
    position: relative;
}
.clear{
    clear: both;
}
nav ul li:before{
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    float: left;
    bottom: 1px;
    left: -2px;
    background: rgba(255, 255, 255, 0.15);
    z-index: 10;
}
nav ul li:after{
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    position: absolute;
    float: left;
    bottom: 1px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10;
}
nav ul li a{
    padding: 15px 22px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
nav ul li.active a{
    background: #444;
}
nav ul li:hover, nav ul li:hover a{
    background: #fff;   
    color: #222222;
}

header{
    margin-bottom: 50px;
    text-transform: uppercase;
}
header h1{
    text-align: center;
    margin: 30px;

    font-size: 40px;
    font-size: 2.5rem;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -5px;
    line-height: 1.1;
}
header h4{
    text-align: center;
    color: #888;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.social{
    margin-top: 10px;
}
.social img{
    width: 48px;
}

.search button{
    height: 45px;
    width: 25%;
    margin: 0;
    padding: 0;
    background: #222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.search input{
    height: 45px;
    width: 70%;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    outline-color: #aabbdd;
    box-sizing: border-box;
}

.content{
    max-width: 1080px;
    margin: 30px auto;
    padding: 25px;  
    background: #fff;
    border: 1px solid #e9e9e9;
}

.content section.list{
    width: 66.6%;
    float: left;
}
.content aside{
    width: 33.4%;
    float: right;
    padding-left: 25px;
    box-sizing: border-box;
}
.content aside h4{
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 5px;
}
.content aside p{
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
}

.clear{
    clear: both;
}

.avatar{
    text-align: center;    
    margin-bottom: 40px;
}
.avatar em{
    font-weight: 100;
    margin: 5px;
    display: block;
}
.avatar img{
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
}

.content article{
    padding-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 25px;
    margin-bottom: 25px;
}
.content article img.mini{
    width: 100%;
}
.content article .no-stretch img.mini{
    max-width: 100%;
    zoom: 200%;
    width: auto;
}
.content article img{
    max-width: 100%;
}
.content article img.image-loaded{
    width: 100%;
}
.content article .no-stretch img.image-loaded{
    max-width: 100%;
    width: auto;
}
.content article .thumb{
    width: 250px;
    height: 170px;
    float: left;
    margin-right: 25px;
}
.content article .thumbnail-photo{
    width: 250px;
    height: 170px;
    float: left;
    margin-right: 25px;
    background-size: cover;
    background-position: center center;
}

.content article .excerpt{
    height: 170px;
}
.content article p, .thumb{
    font-weight: normal;
    font-size: 14px;
    font-family: "Open Sans", Arial, sans-serif;
    color: #777;
}
.content article .excerpt h2{
    margin: 0;
    line-height: 30px;
}
.content article .excerpt a{
    color: inherit;
    text-decoration: none;
}

.content article.single h1{
    font-size: 38px;
    font-weight: 500;
    margin: 0;
    line-height: 46px;
}

.content article.single, .content article.single p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #494949;
    font-family: "Open Sans", Arial, sans-serif;
}
.content article.single .entry-content{
    margin-top: 25px;
}

time{
    font-family: "Open Sans", Arial, sans-serif;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    color: #777;
    margin-left: 10px;
}
.author{
    font-weight: bold;
    color: #333;
}

footer{
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
    color: #999;
    font-size: 13px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
}

.archive a{
    font-size: 14px;
    font-weight: 400;
    margin: 10px;
    display: block;
    color: #666;
}
.archive a:hover{
    color: #aaa;
}



@media (max-width: 960px){
    .content aside{
        display: none;
    }

    .content section.list{
        width: 100%;
    }
}
@media (max-width: 660px){
    header h1{
        font-size: 90%;
    }
    .content article .excerpt{
        height: initial;
    }
    .content article .thumbnail-photo{
        width: 100%;
        margin-bottom: 20px;
    }
}

.motto{
    color: #578c57;
    margin-top: 20px;
}